@page "/"

<PageTitle>Part06_FormsInputTouch - Forms, Input, Keyboard, Touch and Files</PageTitle>

<h1>Hello from Part06_FormsInputTouch</h1>

<p>BlazorStudy Part 6 - Forms, Input, Keyboard, Touch and Files.</p>
